# Build files
[Dd]ebug
[Rr]elease
Deploy

# User files
*.user

# Visual Studio Cache
.vs/

# Game files
itemData.itm
item_*.gmd

# Specific files
/res/FileMapping/SAVEDATA1000.csv

# Other
.ipynb_checkpoints
