# Build files
[Dd]ebug
[Rr]elease
Deploy

# User files
*.user

# Visual Studio Cache
.vs/

# Specific files
/res/mapping/outputs/

# Other
.ipynb_checkpoints

# Translation files
# These are deployed on build, so don't need to be included in git.
*.qm
